.flex {
    display: flex;
  }
  
.screen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100vw;
    // background: yellowgreen;
    margin-left: 0;

    h2 {
        margin-top: 25px;
    }

    ul {
        flex-direction: column;
        width: inherit;

        li {
            list-style: none;
            padding: 25px;
            border-bottom: 1px solid gray;
            width: 90%;
            justify-content: space-between;
        }
    }
    .detalhes-container {
        flex-direction: column;
        width: inherit;
        border-bottom: 1px solid gray;
        padding: 15px 0;

        &:first-child {
            border-top: 1px solid gray;
        }

        p {
            list-style: none;
            padding: 10px;
            width: 90%;
            margin: 5px 0;
            justify-content: space-between;
        }
    }
}