<ion-header>
  <ion-navbar class="header_main">
      <ion-fab top right>
          <button ion-fab class="fabbutton" (click)="baixarImagens()">
            <ion-icon name="download"></ion-icon>
          </button>
        </ion-fab>
        <h1 style="color: white">Fotos</h1>
  </ion-navbar>
</ion-header>

<ion-content>


    <ion-avatar>

      <ion-slides paginationClickable=true initialSlide=0 #mySlider>

        <ion-slide *ngFor="let item of image; index as pos">
          <img src="{{item.data}}">
            <ion-fab *ngIf="item.path != 'sem-foto.jpg'" middle right >
              <button ion-fab class="fabbutton" (click)="excluir(item.path, pos)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-fab>
        </ion-slide>
      </ion-slides>

      <ion-item *ngIf="semFoto" Style="text-align: right; background-color: #158A9B">
        <button class="btn-tirar-foto" ion-button icon-only round large (click)="onTakePicture()" item-left
          color="light">
          Fotografar<ion-icon name="camera"></ion-icon>
        </button>
        Número de fotos: {{image.length-1}}
      </ion-item>
      <ion-item color="primary" *ngIf="!semFoto" Style="text-align: center">
        Número de fotos: {{image.length}}
        <button class="btn-tirar-foto" ion-button icon-only round large (click)="onTakePicture()" item-left
          color="light">
          Fotografar<ion-icon name="camera"></ion-icon>
        </button>
      </ion-item>
    </ion-avatar>
    <ion-row  class="fa-search">
        <div class="col col-3">
            <div class="fa-inputgroup1">
              <input [(ngModel)]="codigoFilial" type="text" name="codFilial">
            </div>
          </div>
          <div class="col col-6">
            <div class="fa-inputgroup1">
              <input [(ngModel)]="codigoPatrimonio" type="text" name="nBem">
            </div>
          </div>
          <div class="col col-2">
              <div class="fa-inputgroup1">
                <input [(ngModel)]="incorporacao" type="text" name="inc">
              </div>
            </div>
      </ion-row>
   </ion-content>