page-salto-plaqueta {
          .salto-plaqueta-font {
            font-size: 170%;
            margin: 1rem 0.6rem;
            color: blue;
            text-align: left;
          }
          .salto-plaqueta-input {
            font-size: 170%;
          }
          .rounded {
            width: 100%;
            padding: 0px;
            margin: -0.68rem 0rem;
            display: inline-block;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 3px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
          }
          .rounded2 {
            width: 100%;
            padding: 188px;
            margin: -1.68rem 0rem;
            display: inline-block;
            border: 1px solid black;
            border-radius: 3px;
           -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
}
