page-consulta {
  #item-left {
    margin: -2.4rem 6rem 3rem 3rem;
  }
  #item-right {
    margin: -2.4rem 6rem 3rem 3rem;
  }
  #align-left {
    margin: 1rem 6rem -6rem -0.6rem;
    zoom: 1.2;
  }
  #align-right {
    margin: 0rem 6rem -3.5rem 20rem;
    zoom: 1.2;
  }
  #align-date {
    margin: 5rem 6rem -6rem -0.6rem;
    zoom: 1.2;
  }
  #ion-select {
    margin: -1rem 20rem -2rem -2rem;
    zoom: 1.2;
  }
  #ion-item {
    margin: -5rem -8rem 1rem 10rem;
  }
  #larguraBotao {
    width: 13rem;
    height: 5rem;
  }
  .local {
    margin: 1.4rem 0.1rem 3.4rem;
  }
  .text {
    margin: 1.5rem 0.2rem 3.3rem 0rem;
    font-size: 110%;
  }
  .distancia {
    margin: -3rem 0.1rem 3.4rem;
  }
  .text2 {
    margin: -3rem 0.2rem 3.3rem 0rem;
    font-size: 110%;
  }
  .salto-plaqueta-input {
    font-size: 170%;
  }
  .rounded {
    width: 100%;
    padding: 0px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

  }

  
}
